NODE_ENV=development
PORT=4000

DATABASE_URL=postgresql://postgres:password@localhost:5432/raw_node_oop_api

JWT_ACCESS_SECRET=change_this_access_secret_minimum_32_characters
JWT_REFRESH_SECRET=change_this_refresh_secret_minimum_32_characters
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=12

CORS_ORIGIN=http://localhost:3000
REQUEST_BODY_LIMIT=1048576